---
import '../styles.css';
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <!-- Primary Meta Tags -->
    <title>KwesForms Custom Events</title>
    <meta name='title' content='KwesForms Custom Events' />
    <meta name='description' content='A Demo of KwesForms Custom Events with Rive' />

    <!-- Open Graph / Facebook -->
    <meta property='og:type' content='website' />
    <meta property='og:url' content='https://rive-kwes-forms.netlify.app/' />
    <meta property='og:title' content='KwesForms Custom Events' />
    <meta property='og:description' content='A Demo of KwesForms Custom Events with Rive' />
    <meta property='og:image' content='https://rive-kwes-forms.netlify.app/images/rive-kwes-forms-og-image.jpg' />

    <!-- Twitter -->
    <meta property='twitter:card' content='summary_large_image' />
    <meta property='twitter:url' content='https://rive-kwes-forms.netlify.app/' />
    <meta property='twitter:title' content='KwesForms Custom Events' />
    <meta property='twitter:description' content='A Demo of KwesForms Custom Events with Rive' />
    <meta property='twitter:image' content='https://rive-kwes-forms.netlify.app/images/rive-kwes-forms-og-image.jpg' />

    <link rel='icon' type='image/x-icon' href='/favicon.ico' />
  </head>
  <body class='bg-custom-ice-2'>
    <main class='prose mx-auto max-w-5xl px-4'><slot /></main>
  </body>
</html>
