---
import '../styles.css';
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <title>Rive + KwesForms</title>
    <link rel='icon' type='image/x-icon' href='/favicon.ico' />
  </head>
  <body class='bg-custom-ice-2'>
    <main class='prose mx-auto max-w-5xl px-4'><slot /></main>
  </body>
</html>
